/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    width: 100%;
    background-color: black;
    padding: 0.7 rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    max-width: 90px;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    background-color: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    margin: 15px;
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: #800A1D;

}

nav li {
    display: inline-block;
    padding: 0 20px;
}

nav li a {
    text-decoration: none;
    color: #800A1D;
    font-weight: 500;
}

.hero-section {
    margin-top: 85px;
}

.white-image {
    background-image: url(images/white.jpg);
}

.red-image {
    background-image: url(images/red.jpg);

}

.rose-image {
    background-image: url(images/rose.jpg);

}

.sparkling-image {
    background-image: url(images/white.jpg);

}

.carousel {
    background: #EEE;
    font-size: 80px;
    color: #fff;
    font-weight: 600;
    max-height: 700px;
}

.carousel-cell {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 80%;
    background-size: cover;
    /* Ensures the image covers the entire area */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}


/* big buttons, no circle */
.flickity-prev-next-button {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

/* arrow color */
.flickity-prev-next-button .arrow {
    fill: white;
}

.flickity-prev-next-button.no-svg {
    color: white;
}

.flickity-prev-next-button:hover {
    background: transparent;
}

/* hide disabled button */
.flickity-prev-next-button:disabled {
    display: none;
}